[run]
omit = tests\*
       *\__init__.py
       *\params.py
       api\test_api.py
       setup.py
       test_rules.py

source =  api
          pxtextmining

[report]
exclude_lines =
    if __name__ == .__main__.:
